<h1> Information for Product <%=@product.id %></h1>

<p> <b>Name:</b> <%= @product.name %></p>
<p> <b>Description:</b> <%= @product.description %></p>
<p> <b>Price:</b> <%= @product.pricing %></p>
<p><a href="../products/"><button type='button' class='btn btn-primary'>Return to Index of Products</a></p>
<p> <a href='<%=@product.id %>/edit'><button type='button' class='btn btn-warning'>Edit Product Information</a></p>
