<h1> Information for Product <%=@product.id %></h1>

<p> <b>Name:</b> <%= @product.name %></p>
<p> <b>Description:</b> <%= @product.description %></p>
<p> <b>Price:</b> <%= @product.pricing %></p>
<p> <a href='<%=@product.id %>/edit'>Edit Product Information</a></p>
<p><a href="../products/">Return to Index of Products</a></p>
